@use 'variables' as v;

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   font-family: v.$fuente_princiapl;
   font-size: 1.6rem;
}

p {
   font-size: 2rem;
   columns: v.$negro;
}

a {
   text-decoration: none;
}

h1,h2,h3 {
   margin: 0 0 5rem 0;
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 3.6rem;
}

h3 {
   font-size: 3rem;
}

.contenedor {
   width: 65%;
   max-width: 125rem;
   margin: 0 auto;
}