:root {

   --primario:#9c27d0;
   --primario-oscuro: #89119d;
   --secundario: #ffce00;
   --secundario-oscuro: #c9a101;
   --blanco: #fff;
   --negro: #000;

   --fuente-P: 'Staatliches',  cursive;

}

/*==================== Globales ====================*/
html {
   font-size: 62.5%;
   box-sizing: border-box;
}

*, *::before *::after {
   box-sizing: inherit;
}

body {
   background-color: var(--primario);
   font: 1.6rem;
   line-height: 1.5;
}

p {
   font-size: 1.8rem;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--blanco);
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

h1,h2,h3 {
   text-align: center;
   color: var(--secundario);
   font-family: var(--fuente-P);
}

h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.4rem; }

.contenedor {
   max-width: 120rem;
   margin: 0 auto;
}


/* ------------------ HEADER ------------------ */
.header {
   display: flex;
   justify-content: center;
}

.header__logo {
   margin: 3rem 0;
}

/* ------------------ NAVEGACION ------------------ */
.nav {
   background-color: var(--primario-oscuro);
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   /* gap: 3rem;  no soportado por algunos navegadores*/
}

.nav__enlace {
   font-family: var(--fuente-P);
   color: var(--blanco);
   font-size: 3rem;
   margin-right: 2rem;
}

.nav__enlace:last-of-type { /*Ultimo del mismo tipo*/
   margin-right: 0;
}

.nav__enlace--activo,
.nav__enlace:hover {
   color: var(--secundario);

}

/* ------------------ MAIN ------------------ */

/* -------- Grid -------- */
.grid {
   display: grid;
   grid-template-columns: repeat(2 ,1fr);
   gap: 2rem;
}

/* -------- Producto -------- */
.producto {
   background-color: var(--primario-oscuro);
   padding: 1rem;
}

.producto__image {
   width: 100%;
}

.producto__nombre {
   font-size: 4rem;
}

.producto__precio {
   font-size: 2.8rem;
   color: var(--secundario);
}

.producto__nombre,
.producto__precio {
   font-family: var(--fuente-P);
   margin: 1rem;
   text-align: center;
   line-height: 3rem;
}

/* -------- Graficos -------- */
.grafico {
   min-height: 30rem;
   background-repeat: no-repeat;
   background-size: cover;
   grid-column: 1 / 3;
}

.grafico--camisas {
   grid-row: 2 / 3;
   background-image: url(../img/grafico1.jpg);
}

.grafico--node {
   grid-row: 8 / 9;
   background-image: url(../img/grafico2.jpg);
}

/* -------- Nosotros -------- */
.nosotros {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 3rem;
}

.nosotros__info {
   padding: 1rem 3rem;
   text-align: center;
}

.nosotros__info p {
   font-size: 2rem;
}

.nosotros__image {
   grid-row: 1/2;
}

/* -------- Bloques -------- */
.bloques {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 2rem;
}

.bloque {
   text-align: center;
}

.bloque__titulo {
   margin: 0;
}

/* -------- Camisa -------- */

.camisa__image {
   width: 100%;
}

.camisa__info {
   text-align: center;
}


.formulario__campo {
   border:1rem solid var(--primario-oscuro);
   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 2rem;
   appearance: none; /*Le quita la flecha del numero*/
}

.formulario__submit {
   background-color: var(--secundario);
   border: none;
   font-size: 2rem;
   font-family: var(--fuente-P);
   padding: 2rem;
   transition: background-color .3s ease;
   grid-column: 1/3;
   width: 100%;
}

.formulario__submit:hover {
   cursor: pointer;
   background-color: var(--secundario-oscuro);
}

/* ------------------ FOOTER ------------------ */
.footer {
   background-color: var(--primario-oscuro);
   padding: 1rem 0;
   margin-top: 2rem;
}

.footer__texto {
   font-family: var(--fuente-P);
   text-align: center;
   font-size: 3.2rem;
}

/*Revisar tamño de las img grandes para los ipads*/

/* ------------------ MEDIA ------------------ */
@media (min-width: 480px) {
   .nosotros {
      grid-template-columns: repeat(1,1fr);
   }

   .nosotros__image {
      grid-row: 1/3;
      width: 100%;
   }
}

@media (min-width: 768px) {
   /* -------- Graficos -------- */
   .grid {
      grid-template-columns: repeat(3 ,1fr);
   }

   .grafico--node {
      grid-row: 5 / 6;
      grid-column: 2 / 4;
   }

   .camisa {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 2rem;
   }

   .formulario {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
   }
}

@media (min-width: 1144px) {

   /* -------- Grid -------- */
   .grid {
      grid-template-columns: repeat(3,1fr);
   }

   .nosotros__image {
      grid-column: 2/3;
   }

   .bloques {
      grid-template-columns: repeat(4, 1fr);
   }

}